$active_color:rgb(0, 93, 99);
nav{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
        display: flex;
      }
      
    li{order:54;;}
      
      li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: rgb(221, 221, 221);
      }
      
      li a.active {
        color: white;
        background-color: $active_color;
       
        order: 0; 
        transition: all .4s;
      }
     
      
      
}
